@import url('https://fonts.googleapis.com/css?family=Quantico:400,700');

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Futura', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #dfdfdf;
    text-align: center;
    background-image: url(../images/country-quilt.png);
}

img {
    max-width: 100%;
}

button {
    font-size: 1.5em;
    margin: 8px;
    border-radius: 6px;
    padding: 5px 10px;
    outline-color: red;
}

h1 {
    font-size: 3em;
    color: red;
    font-family: 'Quantico', 'Futura', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-shadow: 0px 3px 10px rgba(50, 50, 50, 0.5);
}

.container {
    width: 90%;
    margin: auto;
}

.content {
    display: inline-block;
}

#info p {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 20px 25px;
}

header {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 10px 20px;
}

#timer {
    float:right;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 10px;
}

#block,
#static-block {
    background: rgb(255,61,61); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(255,61,61,1) 0%, rgba(255,40,40,1) 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(255,61,61,1) 0%,rgba(255,40,40,1) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(255,61,61,1) 0%,rgba(255,40,40,1) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3d3d', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#game-space {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 20px;
    justify-content: center;
}

.goal-container,
.puzzle-container {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 15px 35px;
    background-color: rgba(69, 69, 69, 0.6);
}

#goal-grid,
#puzzle-grid {
    display: grid;
}

#puzzle-grid {
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

#puzzle-grid #block {
    cursor: pointer;
}

.puzzle-1{
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
}

.puzzle-2,
.puzzle-3 {
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}
.puzzle-4,
.puzzle-5 {
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
}

.puzzle-6,
.puzzle-7 {
    grid-template-columns: 65px 65px 65px 65px 65px;
    grid-template-rows: 65px 65px 65px 65px 65px;
}